<div class="single_option">
	<div class="replace_input padding">
		<%= f.radio_button :body_shape, 1 %>
		<label for="user_body_shape_1">
			<%= image_tag("woman_shape1_body-min.png") %>
		</label>
	</div>
</div>

<div class="single_option">
	<div class="replace_input padding">
		<%= f.radio_button :body_shape, 2 %>
		<label for="user_body_shape_2">
			<%= image_tag("woman_shape2_body-min.png") %>
		</label>
	</div>
</div>

<div class="single_option">
	<div class="replace_input padding">
		<%= f.radio_button :body_shape, 3 %>
		<label for="user_body_shape_3">
			<%= image_tag("woman_shape3_body-min.png") %>
		</label>
	</div>
</div>

<div class="single_option">
	<div class="replace_input padding">
		<%= f.radio_button :body_shape, 4 %>
		<label for="user_body_shape_4">
			<%= image_tag("woman_shape4_body-min.png") %>
		</label>
	</div>
</div>

<div class="single_option">
	<div class="replace_input padding">
		<%= f.radio_button :body_shape, 5 %>
		<label for="user_body_shape_5">
			<%= image_tag("woman_shape5_body-min.png") %>
		</label>
	</div>
</div>