<div class="single_option">
	<div class="replace_input padding">
		<%= f.radio_button :body_shape, 1 %>
		<label for="user_body_shape_1">
			<%= image_tag("man_shape1_body-min.png") %>
		</label>
	</div>
</div>

<div class="single_option">
	<div class="replace_input padding">
		<%= f.radio_button :body_shape, 2 %>
		<label for="user_body_shape_2">
			<%= image_tag("man_shape2_body-min.png") %>
		</label>
	</div>
</div>

<div class="single_option">
	<div class="replace_input padding">
		<%= f.radio_button :body_shape, 3 %>
		<label for="user_body_shape_3">
			<%= image_tag("man_shape3_body-min.png") %>
		</label>
	</div>
</div>