<div class="single_option vertical">
	<h3 class="uppercase">Chest <span class="size downcase"><%= f.object.chest || "16¾" %> inches</span></h3>
	<div class="slider" data-min="14.5" data-max="19" data-step="0.25" data-measure="standard" data-value="<%= f.object.chest || "16.75" %>"></div>
	<%= f.hidden_field :chest %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Neck <span class="size downcase"><%= f.object.neck || "45" %> inches</span></h3>
	<div class="slider" data-min="36" data-max="54" data-step="0.25" data-measure="standard" data-value="<%= f.object.neck || "45" %>"></div>
	<%= f.hidden_field :neck %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Sleeves <span class="size downcase"><%= f.object.sleeves || "36¼" %> inches</span></h3>
	<div class="slider" data-min="34.5" data-max="38" data-step="0.25" data-measure="standard" data-value="<%= f.object.sleeves || "36.25" %>"></div>
	<%= f.hidden_field :sleeves %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Waist <span class="size downcase"><%= f.object.waist || "38" %> inches</span></h3>
	<div class="slider" data-min="29" data-max="47" data-step="0.25" data-measure="standard" data-value="<%= f.object.waist || "38" %>"></div>
	<%= f.hidden_field :waist %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Inside legs <span class="size downcase"><%= f.object.inside_legs || "32" %> inches</span></h3>
	<div class="slider" data-min="30" data-max="34" data-step="0.25" data-measure="standard" data-value="<%= f.object.inside_legs || "32" %>"></div>
	<%= f.hidden_field :inside_legs %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Feet <span class="size downcase"><%= f.object.feet || "10¾" %> inches</span></h3>
	<div class="slider" data-min="9.5" data-max="12" data-step="0.25" data-measure="standard" data-value="<%= f.object.feet || "10.75" %>"></div>
	<%= f.hidden_field :feet %>
</div>