<div class="single_option vertical">
	<h3 class="uppercase">Chest <span class="size"><%= f.object.chest || "35" %></span></h3>
	<div class="slider" data-min="32" data-max="38" data-step="0.5" data-value="<%= f.object.chest || "35" %>"></div>
	<%= f.hidden_field :chest %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Neck <span class="size"><%= f.object.neck || "17" %></span></h3>
	<div class="slider" data-min="14" data-max="20" data-step="0.5" data-value="<%= f.object.neck || "17" %>"></div>
	<%= f.hidden_field :neck %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Sleeves <span class="size"><%= f.object.sleeves || "15" %></span></h3>
	<div class="slider" data-min="12" data-max="18" data-step="0.5" data-value="<%= f.object.sleeves || "15" %>"></div>
	<%= f.hidden_field :sleeves %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Waist <span class="size"><%= f.object.waist || "15" %></span></h3>
	<div class="slider" data-min="12" data-max="18" data-step="0.5" data-value="<%= f.object.waist || "15" %>"></div>
	<%= f.hidden_field :waist %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Hips <span class="size"><%= f.object.hips || "15" %></span></h3>
	<div class="slider" data-min="12" data-max="18" data-step="0.5" data-value="<%= f.object.hips || "15" %>"></div>
	<%= f.hidden_field :hips %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Inside legs <span class="size"><%= f.object.inside_legs || "15" %></span></h3>
	<div class="slider" data-min="12" data-max="18" data-step="0.5" data-value="<%= f.object.inside_legs || "15" %>"></div>
	<%= f.hidden_field :inside_legs %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Feet <span class="size"><%= f.object.feet || "35" %></span></h3>
	<div class="slider" data-min="32" data-max="38" data-step="0.5" data-value="<%= f.object.feet || "35" %>"></div>
	<%= f.hidden_field :feet %>
</div>