<div class="single_option vertical">
	<h3 class="uppercase">Chest</h3>
	<div id="chest" class="slider" data-min="32" data-max="38" data-step="0.5" data-value="<%= f.object.chest || "35" %>"></div>
	<%= f.hidden_field :chest %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Neck</h3>
	<div id="chest" class="slider" data-min="14" data-max="20" data-step="0.5" data-value="<%= f.object.neck || "17" %>"></div>
	<%= f.hidden_field :neck %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Sleeves</h3>
	<div id="chest" class="slider" data-min="12" data-max="18" data-step="0.5" data-value="<%= f.object.sleeves || "15" %>"></div>
	<%= f.hidden_field :sleeves %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Waist</h3>
	<div id="chest" class="slider" data-min="12" data-max="18" data-step="0.5" data-value="<%= f.object.waist || "15" %>"></div>
	<%= f.hidden_field :waist %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Hips</h3>
	<div id="chest" class="slider" data-min="12" data-max="18" data-step="0.5" data-value="<%= f.object.hips || "15" %>"></div>
	<%= f.hidden_field :hips %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Inside legs</h3>
	<div id="chest" class="slider" data-min="12" data-max="18" data-step="0.5" data-value="<%= f.object.inside_legs || "15" %>"></div>
	<%= f.hidden_field :inside_legs %>
</div>

<div class="single_option vertical">
	<h3 class="uppercase">Feet</h3>
	<div id="chest" class="slider" data-min="32" data-max="38" data-step="0.5" data-value="<%= f.object.feet || "35" %>"></div>
	<%= f.hidden_field :feet %>
</div>